* {
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

label {
  font-family: monospace;
  font-size: 15px;
  padding: 5px 0;
}

input {
  font-family: monospace;
  font-size: 14px;
  padding: 1px 3px;
  outline: none;
  margin: 5px 0;
}

button {
  margin-top: 5px;
  font-family: monospace;
  font-size: 14px;
  padding: 5px 3px;
  border: solid 1px #000;
  border-radius: 5px;
  width: 100px;
}